$bg: #369;
$bg1: lighten($bg,55);
$bgd: lighten($bg,5);

BODY, P, DIV, UL LI, OL LI, TH, TH {
    font-family: "Sahitya", "Constantia", Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin: 0px;
    position: relative;
}

H1,H2,H3 { font-family: "Playball","Constantia", Georgia, 'Times New Roman', Times, serif;}

A { color: $bg; font-weight: bold;}

P {
    margin-bottom: 0.5em;
}

HEADER {
    width: 98%;
    padding: 1%;
    background-color: #369;
    color: white;
    margin-bottom: 1.5em;
    text-align: center;
    H1, H2 {
        text-shadow: 0px 2px 20px  #000;
        /*font-weight: bold;*/
        text-align: center;
    }
    
}
.foo-item {
    margin-bottom:1.5em;
}


FOOTER {
    width:98%;
    padding: 1em 1%;
    background-color: #369;
    color: white;
    margin-top: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    H3 {
        font-size: 1.35em;
        font-weight: bold;
    }
    A { color: lighten($bg,45); text-decoration: none; font-weight: bold; }
}


#hero {
    padding-top: 1em;
    padding-bottom: 1em;
    H1.hero-title {
        font-size: 48pt;
        text-align: center;
        margin: auto 2%;
    }
    H2.hero-row {
        font-size: 24pt;
        text-align: center;
        margin: auto 2%;
    }
}

.post-content {
    figure {
        float:right;
        padding:0px;
        max-width: 50%;
        IMG {
            max-width: 100%;
        }
        figcaption {
            font-size: 0.85em;
            font-style: italic;
            text-align: right;
        }
    }
    figure.page-logo {
        width: 100%;
        img {
            width: 100%;
        }
    }
    H1 {
        font-size: 2;
        color: $bgd;
    }
    H2 {
        font-size: 1.75em;
        color: $bgd;
    }
    H3 {
        font-size: 1.4em;
        color: $bgd;
    }

}


.elenco {
    margin:0px;
    padding:0px;
    list-style-type: none;
    margin-top: 0.8em;
    margin-bottom: 1.5em;
    LI {
        border-bottom: 1px dotted #5AF;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: center;
        font-size: 0.9em;
        A { text-decoration: none; }            
    }
    .selected {
        background-color: $bg1;
    }

  }

  @media only screen and (min-width: 767px) {
    #elenco {
        position: absolute;
        background-color:white;
        box-shadow: 0px 2px 10px white;
    }
    #elenco-pagine {
        position:relative;
    }
  }

  @media only screen and (max-width: 767px) {
    .post-content {
        figure {
            padding:0px;
            width: 90%;
            max-width: 90%;
            margin-left:5%;
            text-align: center;
            IMG {
                max-width: 100%;
            }
            figcaption {
                font-size: 0.85em;
                font-style: italic;
                text-align: center;
            }
        }
        figure.page-logo {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
