<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">
  {% include franci_head.html %}
  <body>
    {% include franci_page_title.html %}
    <div class="page-content" aria-label="Content">
      <div class="container">
          <div class="row">
          {% include franci_menu_pagine.html %}
          {{ content }}
          </div>
      </div>
    </div>
    {% include franci_footer.html %}

    <script type="text/javascript">
    $(function() {

        var $footer = $("#footer");
        var footer_s = $footer.offset().top;
        var $sidebar   = $("#elenco"); 
        console.log (footer_s)
        var $window    = $(window),
            offset     = $sidebar.offset(),
            h = $sidebar.height(),
            topPadding = 25;


        $window.scroll(function() {
            if ($window.scrollTop() > offset.top) {

                $sidebar.stop().animate({
                    marginTop: $window.scrollTop() - offset.top + topPadding
                });
            } else {
                $sidebar.stop().animate({
                    marginTop: 0
                });
            }
        });
        
    });    
    </script>
  </body>
</html>
